<a href="https://colab.research.google.com/github/veranika-izrailyan/pythonic-programming/blob/main/pythonic_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
people = [('larry', 'king', '30', 'london'), ('larry1', 'king1', '301', 'manchester'), ('larry2', 'king2', '302', 'leeds')]
#unpacking
for fname, lname, age in people:
  print("{} {}".format(fname, lname))

larry king
larry1 king1
larry2 king2

In [ ]:
people = [('larry', 'king', '30', 'london'), ('larry1', 'king1', '301', 'manchester'), ('larry2', 'king2', '302', 'leeds')]

def person_record(fname, lname, age, city):
  print("{} {} lives in {}, and is {}.".format(fname,lname, city, age))

for person in people:
  person_record(*person)

larry king lives in london, and is 30.
larry1 king1 lives in manchester, and is 301.
larry2 king2 lives in leeds, and is 302.

In [ ]:
# sorting
fruits = ["apple", "Mango", "Kiwi", "Apricot", "date"]

sorted_fruit = sorted(fruits)

def ignore_case(item):
  return item.lower()

sorted_fruit2 = sorted(fruits, key=ignore_case)

sorted_fruit2

['apple', 'Apricot', 'date', 'Kiwi', 'Mango']

In [5]:
fruits = ["apple", "Mango", "Kiwi", "Apricot", "date", "watermelon"]
def by_length_then_name(item):
  return (len(item), item.lower())

sorted_fruit3 = sorted(fruits, key=by_length_then_name)

sorted_fruit3

['date', 'Kiwi', 'apple', 'Mango', 'Apricot', 'watermelon']

In [7]:
nums = [2, 56, 12, 4, 100, 1000]
n1 = sorted(nums)
n1

[2, 4, 12, 56, 100, 1000]

In [12]:
nums2 = [2, 56, 12, 4, 1000]
n2 = sorted(nums2, key= str)
n2

[1000, 12, 2, 4, 56]

In [14]:
import re

rebooks =["Hamlet", "The Case Book of Sherlock Holmes", "A Study in Scarlet", "King Lear"]

rebooks

['Hamlet',
 'The Case Book of Sherlock Holmes',
 'A Study in Scarlet',
 'King Lear']

In [15]:
rx_article = re.compile(r'^(the|a|an)\s+',re.I)

def strip_article(title):
  stripped_title=rx_article.sub('', title.lower())
  return stripped_title

for book in sorted(rebooks, key=strip_article):
  print(book)

The Case Book of Sherlock Holmes
Hamlet
King Lear
A Study in Scarlet

In [16]:
# lambda

addFive = lambda x: x+5
addFive(100)

105

In [17]:
addTwoNums = lambda x,y: x+y
addTwoNums(90,20)

110

In [18]:
printRes = lambda func, val:print(func(val))
printRes(addFive, 200)

205

In [19]:
fruits = ["apple", "Mango", "Kiwi", "Apricot", "date", "watermelon"]

sorted_fruits = sorted(fruits, key=lambda e: e.lower())
sorted_fruits

['apple', 'Apricot', 'date', 'Kiwi', 'Mango', 'watermelon']

In [20]:
# list comprehension

numbers=[1,2,3,4,5,6,7,8,9,10]
squared=[x**2 for x in numbers]
squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
evens = [x*2 for x in range(20)]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [25]:
upperFruits = [item.upper() for item in fruits]
sorted(upperFruits)

['APPLE', 'APRICOT', 'DATE', 'KIWI', 'MANGO', 'WATERMELON']

In [26]:
values = [2,4,5,"boom",[9,8,7]]
doubles = [v*2 for v in values]
doubles

[4, 8, 10, 'boomboom', [9, 8, 7, 9, 8, 7]]

In [27]:
# dictionary comprehension

animals = ["Owl", "TIGER", "rabbit", "pig"]
animals_dict ={a.lower(): len(a) for a in animals}
animals_dict

{'owl': 3, 'pig': 3, 'rabbit': 6, 'tiger': 5}

In [28]:

s1=sum([x*x for x in range(10)])
s1

285

In [29]:
# generator expression - memory efficient

s2 = sum(x*x for x in range (10))
s2

285

In [32]:
#generator functions

def my_numbers():
  a=0
  for i in range(3):
    yield a
    a=a+1
  for i in range(3):
    yield a
    a=a-1
  yield 100
  yield 200
  yield 300

for num in my_numbers():
  print(num)

0
1
2
3
2
1
100
200
300

In [35]:
def next_prime(limit):
  flags= set()

  for i in range(2, limit):
    if i in flags:
      continue
    for j in range(2*i, limit+1 ,i):
      flags.add(j)
    yield i

for prime in next_prime(200):
  print(prime, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [38]:
# string formatting

colour = 'blue'
animal = 'cat'

print("{} {}".format(colour, animal))

blue cat

In [47]:
colour1 = 'red'
animal1= 'squirel'

print(f'{colour1} {animal1}')

red squirel

In [39]:
"Try these: {0}.jpg, {0}.png, {0}.pdf".format('dog')

'Try these: dog.jpg, dog.png, dog.pdf'

In [40]:
farh = 95.89900
print('{:.1f}'.format(farh))

95.9

In [43]:
data = {'A':80, 'B':43, 'C': 55}
for letter, number in sorted(data.items()):
  print('{} {:4d}'.format(letter, number))

A   80
B   43
C   55