<a href="https://colab.research.google.com/github/veranika-izrailyan/pythonic-programming/blob/main/pythonic_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
people = [('larry', 'king', '30', 'london'), ('larry1', 'king1', '301', 'manchester'), ('larry2', 'king2', '302', 'leeds')]
#unpacking
for fname, lname, age in people:
  print("{} {}".format(fname, lname))

larry king
larry1 king1
larry2 king2

In [ ]:
people = [('larry', 'king', '30', 'london'), ('larry1', 'king1', '301', 'manchester'), ('larry2', 'king2', '302', 'leeds')]

def person_record(fname, lname, age, city):
  print("{} {} lives in {}, and is {}.".format(fname,lname, city, age))

for person in people:
  person_record(*person)

larry king lives in london, and is 30.
larry1 king1 lives in manchester, and is 301.
larry2 king2 lives in leeds, and is 302.

In [ ]:
# sorting
fruits = ["apple", "Mango", "Kiwi", "Apricot", "date"]

sorted_fruit = sorted(fruits)

def ignore_case(item):
  return item.lower()

sorted_fruit2 = sorted(fruits, key=ignore_case)

sorted_fruit2

['apple', 'Apricot', 'date', 'Kiwi', 'Mango']

In [5]:
fruits = ["apple", "Mango", "Kiwi", "Apricot", "date", "watermelon"]
def by_length_then_name(item):
  return (len(item), item.lower())

sorted_fruit3 = sorted(fruits, key=by_length_then_name)

sorted_fruit3

['date', 'Kiwi', 'apple', 'Mango', 'Apricot', 'watermelon']

In [7]:
nums = [2, 56, 12, 4, 100, 1000]
n1 = sorted(nums)
n1

[2, 4, 12, 56, 100, 1000]

In [12]:
nums2 = [2, 56, 12, 4, 1000]
n2 = sorted(nums2, key= str)
n2

[1000, 12, 2, 4, 56]

In [14]:
import re

rebooks =["Hamlet", "The Case Book of Sherlock Holmes", "A Study in Scarlet", "King Lear"]

rebooks

['Hamlet',
 'The Case Book of Sherlock Holmes',
 'A Study in Scarlet',
 'King Lear']

In [15]:
rx_article = re.compile(r'^(the|a|an)\s+',re.I)

def strip_article(title):
  stripped_title=rx_article.sub('', title.lower())
  return stripped_title

for book in sorted(rebooks, key=strip_article):
  print(book)

The Case Book of Sherlock Holmes
Hamlet
King Lear
A Study in Scarlet