<a href="https://colab.research.google.com/github/veranika-izrailyan/pythonic-programming/blob/main/pythonic_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
people = [('larry', 'king', '30', 'london'), ('larry1', 'king1', '301', 'manchester'), ('larry2', 'king2', '302', 'leeds')]
#unpacking
for fname, lname, age in people:
  print("{} {}".format(fname, lname))

larry king
larry1 king1
larry2 king2

In [8]:
people = [('larry', 'king', '30', 'london'), ('larry1', 'king1', '301', 'manchester'), ('larry2', 'king2', '302', 'leeds')]

def person_record(fname, lname, age, city):
  print("{} {} lives in {}, and is {}.".format(fname,lname, city, age))

for person in people:
  person_record(*person)

larry king lives in london, and is 30.
larry1 king1 lives in manchester, and is 301.
larry2 king2 lives in leeds, and is 302.